.frame-parent {
  	width: 100%;
  	height: 1024px;
  	position: relative;
  	
  	overflow: hidden;
  	text-align: center;
  	font-size: 96px;
  	color: #000;
  	font-family: 'Space Mono', monospace;
}
.vector-parent1 {
  	position: absolute;
  	top: 50px;
  	left: 158px;
  	width: 1099px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
}
.mainlogo {
  top: 60px;
  	width: 100%;
  	height: 315px;
  	position: relative;
    max-width: fit-content;
}
.maintxt {
  top: 90px;
  width: 90%;
  height: 20%;
  	overflow: visible;
  	height: 147px;
  	position: relative;
  	display: inline-block;
  	flex-shrink: 0;
    max-width: fit-content;
    
    font-size: clamp(14px, 15vw, 13rem);
}















.david-sebbag {
  	width: 100%;
  	position: relative;
    
  	font-size: clamp(1.9em, 2vw, 5rem);
    font-family: 'Kanit', sans-serif;
  	color: #000;
  	text-align: left;
  	display: inline-block;
    height: clamp(2.5rem, 6vw, 5000rem);
  	top: 1rem;
  	max-width: fit-content;


}
@media (max-width: 1100px) {
  .david-sebbag {
    transform: translateY(+6px); /* moves it up 10px */
  }
}
@media (min-width: 1500px) {
  .david-sebbag {
    transform: translateY(-0px); /* moves it up 9px */
  }
}
@media (min-width: 1700px) {
  .david-sebbag {
    transform: translateY(-2px); /* moves it up 12px */
  }
}





.wiggle-logo {
  display: inline-block;
  animation: wiggle 0.5s infinite;
 display: flex;
 position: absolute;
 
  top: 1rem;
  left: 1rem;
  height: clamp(1.9em, 1.7vw, 5rem);
}

@keyframes wiggle {
  0% { transform: rotate(-2deg); }
  20% { transform: rotate(1deg); }
  40% { transform: rotate(2deg); }
  60% { transform: rotate(-1deg); }
  80% { transform: rotate(-2deg); }
  100% { transform: rotate(-2deg); }
}
.h1 {
  position: absolute;
  left: 0;
  top: 70%;
  margin-top: 0.5em;
  left: 30px;
  max-width: fit-content;
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 4rem);
  line-height: normal;
  color: #000000;
  /* Ensure it stays under the logo+txt even when they resize */
}
.container {
  
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      #fff 0%,
      #fff 40%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(to right, #5E9296, #7AC2C8, #69D3D6, #6CDCE6, #92F6FF);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: 50px 100%;
  pointer-events: none;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}
.vector-parent {
  	position: relative;
  	width: 100%;
  	display: flex;
  	align-items: center;
    top: 350px;
  	gap: 6px;
}
.figmasvg {
  height: 45px;
  width: 35px;
  position: relative;
}
.htmlsvg {
  height: 45px;
  width: 53px;
  position: relative;
}
.csssvg {
  height: 53px;
  width: 46.4px;
  position: relative;
}
.githubsvg {
  height: 53px;
  width: 53px;
  position: relative;
}
.ausvg {
  height: 51.7px;
  width: 53px;
  position: relative;
}
.pysvg {
  height: 53px;
  width: 53.3px;
  position: relative;
}
