
}
.david-sebbag {
  	width: 1012px;
  	position: relative;
  	font-size: 112.56px;
    font-family: 'Kanit', sans-serif;
  	color: #000;
  	text-align: left;
  	display: inline-block;
    left: 27px;
  top: -10px;

}
.cmo {

 
	
  	width: 996px;
height: 118px;
flex-shrink: 0;
color: #000;
font-family: "Kanit", sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
  left: 500px;
  top: 138px;
 



}
.shenanigans {

 
	
  color: rgba(98, 162, 168, 0.89);
font-family: "Kanit";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
  top: 138px;
 



}






.wiggle-logo {
  display: inline-block;
  animation: wiggle 0.5s infinite;
 display: flex;
width: 360.192px;
height: 114.789px;
justify-content: center;
align-items: center;
flex-shrink: 0;

  position: absolute;
  left: 750px;
  top: 25px;
  bottom: 2012px;
  right: 4902px;
 


 
}

@keyframes wiggle {
  0% { transform: rotate(-2deg); }
  20% { transform: rotate(1deg); }
  40% { transform: rotate(2deg); }
  60% { transform: rotate(-1deg); }
  80% { transform: rotate(-2deg); }
  100% { transform: rotate(-2deg); }
}
.h1 {
  position: absolute;
  width: 1012px;
  height: 118px;
  left: 27px;
  top: 170px;

  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: normal;

  color: #000000;
}
.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      #fff 0%,
      #fff 40%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(to right, #5E9296, #7AC2C8, #69D3D6, #6CDCE6, #92F6FF);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: 50px 100%;
  pointer-events: none;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}
